* {
    color: green;
}

p.abc {
    color: green;
}

p.abc:hover {
    color: red;
}

#p3 {
  color: blue;
}


/*　複数セレクタ　同じスタイルを適用したいセレクタ1，セレクタ2をまとめる*/
h1, p {
    color: red;
}

/* 子孫セレクタ　セレクタ1の要素で囲まれたセレクタ2要素にスタイルを適用する。
  セレクタ1要素には適用されない。*/
div li {
    color: green;
}

/* 子セレクタ 子孫セレクタと比べて、セレクタ2要素がセレクタ1要素の直下にある場合にセレクタ2要素に適用される。
  セレクタ1要素には適用されない。*/
div > p {
    background-color: skyblue;
}  

/* 隣接セレクタ　同じ階層にある要素同士で、セレクタ1要素の直後にセレクタ2要素があれば適用する。
  セレクタ1要素には適用されない。*/
div + p {
    color: violet;
}
